# POSTGRESQL DATABASE #
DATABASE_URL
CODEDATA_DATABASE_URL

# EMAIL SETTINGS
SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASS
FROM_EMAIL

# TOKEN
JWT_SECRET
REFRESH_TOKEN_SECRET

NODE_ENV

NEXT_PUBLIC_APP_URL # On garde mais inutilisée pour le moment #